[defaults]
# Specify the inventory file
# inventory = inventory/hosts.yml

playbook_vars_root = all

# Define path to your roles
roles_path = ./roles

# vault password file to use by default
vault_password_file = ~/.vault/ansibleVaultKey
